.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.navbar:global(.__wab_instance) {
  position: relative;
}
.freeBox__iT1F0 {
  display: flex;
  flex-direction: column;
  position: relative;
  background: linear-gradient(0deg, #5856d61a 0%, #ffffff 100%);
  padding: 64px;
}
.freeBox__iT1F0 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.freeBox__iT1F0 > :global(.__wab_flex-container) > *,
.freeBox__iT1F0 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__iT1F0 > :global(.__wab_flex-container) > picture > img,
.freeBox__iT1F0
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__iT1F0 {
    padding-right: 32px;
    padding-left: 32px;
  }
}
.foreground {
  display: flex;
  position: relative;
  flex-direction: column;
  max-width: 1080px;
}
.foreground > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.foreground > :global(.__wab_flex-container) > *,
.foreground > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.foreground > :global(.__wab_flex-container) > picture > img,
.foreground
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.text__oDmS4 {
  height: auto;
  font-size: 48px;
  font-weight: 800;
  color: #000000d9;
  line-height: 1;
}
.text__gr2Jd {
  font-size: 20px;
  color: #05050599;
  line-height: 28px;
  text-align: center;
}
.foreground2 {
  display: flex;
  position: relative;
  flex-direction: column;
  max-width: 960px;
}
.foreground2 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.foreground2 > :global(.__wab_flex-container) > *,
.foreground2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.foreground2 > :global(.__wab_flex-container) > picture > img,
.foreground2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.valueProp___8FWw:global(.__wab_instance) {
  position: relative;
}
.img__ptf6X {
  position: relative;
  object-fit: cover;
  width: 56px;
  height: 56px;
}
.img__ptf6X > picture > img {
  object-fit: cover;
}
.img__ptf6X > .__wab_img-spacer > img {
  object-fit: cover;
}
.valueProp__ucIvA:global(.__wab_instance) {
  position: relative;
}
.img___5EWbE {
  position: relative;
  object-fit: cover;
  width: 56px;
  height: 56px;
}
.img___5EWbE > picture > img {
  object-fit: cover;
}
.img___5EWbE > .__wab_img-spacer > img {
  object-fit: cover;
}
.valueProp__cu7Xj:global(.__wab_instance) {
  position: relative;
}
.img__ohiKe {
  position: relative;
  object-fit: cover;
  width: 56px;
  height: 56px;
}
.img__ohiKe > picture > img {
  object-fit: cover;
}
.img__ohiKe > .__wab_img-spacer > img {
  object-fit: cover;
}
.valueProp___8HqLd:global(.__wab_instance) {
  position: relative;
}
.img__hqFth {
  position: relative;
  object-fit: cover;
  width: 56px;
  height: 56px;
}
.img__hqFth > picture > img {
  object-fit: cover;
}
.img__hqFth > .__wab_img-spacer > img {
  object-fit: cover;
}
.section {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  align-content: unset;
  background: #5856d6;
  padding: 64px 32px;
}
.foreground3 {
  display: flex;
  position: relative;
  flex-direction: column;
  max-width: 960px;
  width: 100%;
  min-width: 0;
}
.foreground3 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.foreground3 > :global(.__wab_flex-container) > *,
.foreground3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.foreground3 > :global(.__wab_flex-container) > picture > img,
.foreground3
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
.freeBox__etEkE {
  display: flex;
  flex-direction: column;
}
.freeBox__etEkE > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__etEkE > :global(.__wab_flex-container) > *,
.freeBox__etEkE > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__etEkE > :global(.__wab_flex-container) > picture > img,
.freeBox__etEkE
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__b9Kv9 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.h2 {
  height: auto;
  color: #ffffff;
  font-size: 48px;
  font-weight: 800;
  line-height: 1;
}
.text__vovwk {
  font-size: 20px;
  color: #ffffff80;
  line-height: 28px;
  height: auto;
}
.freeBox___7Qa4M {
  display: flex;
  position: relative;
  flex-direction: column;
  max-width: 960px;
}
.freeBox___7Qa4M > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.freeBox___7Qa4M > :global(.__wab_flex-container) > *,
.freeBox___7Qa4M > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___7Qa4M > :global(.__wab_flex-container) > picture > img,
.freeBox___7Qa4M
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
.columns {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
}
.columns > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: nowrap;
  min-width: 0;
  margin-left: calc(0px - 48px);
  width: calc(100% + 48px);
}
.columns > :global(.__wab_flex-container) > :nth-child(4n + 1) {
  width: calc((100% - 4 * 48px) * 3 / 12);
}
.columns > :global(.__wab_flex-container) > :nth-child(4n + 2) {
  width: calc((100% - 4 * 48px) * 3 / 12);
}
.columns > :global(.__wab_flex-container) > :nth-child(4n + 3) {
  width: calc((100% - 4 * 48px) * 3 / 12);
}
.columns > :global(.__wab_flex-container) > :nth-child(4n + 4) {
  width: calc((100% - 4 * 48px) * 3 / 12);
}
.columns > :global(.__wab_flex-container) > *,
.columns > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns > :global(.__wab_flex-container) > picture > img,
.columns
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin-top: calc(0px - 48px);
    height: calc(100% + 48px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 48px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) > *,
  .columns > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns > :global(.__wab_flex-container) > picture > img,
  .columns
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 48px;
  }
}
.column__q6GDt {
  display: flex;
  position: relative;
  flex-direction: column;
}
.valueProp__zPoE:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg___9S5EV {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #ffffff /* plasmic-token: 67bvgjhX3X_X */;
  width: 28px;
  height: 28px;
}
.text__oZSgQ {
  padding-left: 0px;
}
.column___7Jkv0 {
  display: flex;
  position: relative;
  flex-direction: column;
}
.valueProp__ga7Mm:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg__nor8 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #ffffff /* plasmic-token: 67bvgjhX3X_X */;
  width: 28px;
  height: 28px;
}
.text__hHccs {
  padding-left: 0px;
}
.column__cnZlz {
  display: flex;
  position: relative;
  flex-direction: column;
}
.valueProp__qplGj:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg__p35Mi {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #ffffff /* plasmic-token: 67bvgjhX3X_X */;
  width: 28px;
  height: 28px;
}
.text__jOlPo {
  padding-left: 0px;
}
.column__ewvPf {
  display: flex;
  position: relative;
  flex-direction: column;
}
.valueProp___8Ztw4:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg__ttvpb {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #ffffff /* plasmic-token: 67bvgjhX3X_X */;
  width: 28px;
  height: 28px;
}
.text__qucuI {
  padding-left: 0px;
}
.freeBox__dQfDq {
  display: flex;
  flex-direction: column;
  position: relative;
  background: linear-gradient(0deg, #ffffff 0%, #5856d61a 100%);
  padding: 64px;
}
.freeBox__dQfDq > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.freeBox__dQfDq > :global(.__wab_flex-container) > *,
.freeBox__dQfDq > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__dQfDq > :global(.__wab_flex-container) > picture > img,
.freeBox__dQfDq
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__dQfDq {
    padding-top: 128px;
    padding-right: 32px;
    padding-left: 32px;
  }
}
.freeBox__pxIng {
  display: flex;
  position: relative;
  flex-direction: column;
  top: auto;
  left: auto;
  max-width: 1080px;
}
.freeBox__pxIng > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.freeBox__pxIng > :global(.__wab_flex-container) > *,
.freeBox__pxIng > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__pxIng > :global(.__wab_flex-container) > picture > img,
.freeBox__pxIng
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 64px;
}
.freeBox___3Flrs {
  display: flex;
  flex-direction: column;
}
.freeBox___3Flrs > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox___3Flrs > :global(.__wab_flex-container) > *,
.freeBox___3Flrs > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___3Flrs > :global(.__wab_flex-container) > picture > img,
.freeBox___3Flrs
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__yWOrq {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.text__i1K8 {
  font-size: 48px;
  font-weight: 800;
  color: #000000d9;
  line-height: 1;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__i1K8 {
    text-align: center;
  }
}
.text__abk1Z {
  font-size: 20px;
  color: #05050599;
  text-align: center;
  line-height: 28px;
  height: auto;
}
.freeBox__kwbO8 {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__kwbO8 > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.freeBox__kwbO8 > :global(.__wab_flex-container) > *,
.freeBox__kwbO8 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__kwbO8 > :global(.__wab_flex-container) > picture > img,
.freeBox__kwbO8
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__kwbO8 {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__kwbO8 > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__kwbO8 > :global(.__wab_flex-container) > *,
  .freeBox__kwbO8 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__kwbO8 > :global(.__wab_flex-container) > picture > img,
  .freeBox__kwbO8
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.priceCard__mubrr:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.valueProp__ypJyO:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__fo5Gz {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__mEAhN:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg___0QiOh {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.text__phu1B {
  height: auto;
}
.priceCard__u5Ok2:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.text__n9Cth {
  color: #ff3b30 /* plasmic-token: F-eFxUSO_jX8 */;
}
.valueProp__kgtH0:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__g1Ot {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__wDjsg:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__mrtK {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__cIa7U:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__qN5Fs {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.text___1Eh69 {
  height: auto;
}
.priceCard__q6X52:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.text__ut4HC {
  color: #34c759 /* plasmic-token: _xIEyfjcOpbg */;
}
.valueProp___2CnaN:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__w7Kva {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp___3XcvH:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__l2I1I {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp___7Kibx:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__wV7Q6 {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__fRbnb:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__jJqZp {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.text___9DMe5 {
  height: auto;
}
.priceCard__yRa1A:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.text__quMKm {
  color: #007aff /* plasmic-token: 2XymFtPbGuU3 */;
}
.valueProp__gLfLp:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__rlsDp {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__n9U6:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__ugy2K {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__yuh1I:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg___80T34 {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__og1Bi:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__gllNp {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.text___8FHzq {
  height: auto;
}
.footerSection:global(.__wab_instance) {
  position: relative;
}
