.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 64px;
}
.freeBox__tFEnI {
  display: flex;
  position: relative;
  max-width: 960px;
  flex-direction: row;
  width: 100%;
  min-width: 0;
}
.freeBox__tFEnI > :global(.__wab_flex-container) {
  flex-direction: row;
  min-width: 0;
  margin-left: calc(0px - 64px);
  width: calc(100% + 64px);
}
.freeBox__tFEnI > :global(.__wab_flex-container) > *,
.freeBox__tFEnI > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__tFEnI > :global(.__wab_flex-container) > picture > img,
.freeBox__tFEnI
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 64px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__tFEnI {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__tFEnI > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 64px);
    height: calc(100% + 64px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__tFEnI > :global(.__wab_flex-container) > *,
  .freeBox__tFEnI > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__tFEnI > :global(.__wab_flex-container) > picture > img,
  .freeBox__tFEnI
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 64px;
  }
}
.freeBox__kErdt {
  display: flex;
  position: relative;
  flex-direction: column;
  top: auto;
  left: auto;
  width: 100%;
  min-width: 0;
}
.freeBox__kErdt > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__kErdt > :global(.__wab_flex-container) > *,
.freeBox__kErdt > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__kErdt > :global(.__wab_flex-container) > picture > img,
.freeBox__kErdt
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.freeBox__oayGz {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__oayGz > :global(.__wab_flex-container) {
  flex-direction: column;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__oayGz > :global(.__wab_flex-container) > *,
.freeBox__oayGz > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__oayGz > :global(.__wab_flex-container) > picture > img,
.freeBox__oayGz
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox___7OW6O {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox___7OW6O > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox___7OW6O > :global(.__wab_flex-container) > *,
.freeBox___7OW6O > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___7OW6O > :global(.__wab_flex-container) > picture > img,
.freeBox___7OW6O
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.svg__i5SEq {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #05050599 /* plasmic-token: SDy5_fRx1dMU */;
  flex-shrink: 0;
}
.svg__jXooy {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #05050599 /* plasmic-token: SDy5_fRx1dMU */;
  flex-shrink: 0;
}
.svg__aXd8Z {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #05050599 /* plasmic-token: SDy5_fRx1dMU */;
  flex-shrink: 0;
}
.freeBox__nWQbs {
  display: flex;
  position: relative;
  width: 100%;
  left: auto;
  top: auto;
  flex-direction: column;
  min-width: 0;
}
.freeBox__nWQbs > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__nWQbs > :global(.__wab_flex-container) > *,
.freeBox__nWQbs > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__nWQbs > :global(.__wab_flex-container) > picture > img,
.freeBox__nWQbs
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.text__rZ4S {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  position: relative;
  left: auto;
  top: auto;
  color: #05050599 /* plasmic-token: SDy5_fRx1dMU */;
  height: auto;
}
.button__mmbzc:global(.__wab_instance) {
  position: relative;
}
.svg__sdxid {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__qyUDq {
  height: auto;
}
.svg__n70W5 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__ttdh3:global(.__wab_instance) {
  position: relative;
}
.svg__bz4Ap {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text___2B02M {
  height: auto;
}
.svg__tXfq {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__vekIe:global(.__wab_instance) {
  position: relative;
}
.svg__aHsYk {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__a9LKr {
  height: auto;
}
.svg__zy51 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button___8AwXf:global(.__wab_instance) {
  position: relative;
}
.svg__ipG11 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__ae69F {
  height: auto;
}
.svg___2V5Wf {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.freeBox__mfgdi {
  display: flex;
  position: relative;
  width: 100%;
  left: auto;
  top: auto;
  flex-direction: column;
  min-width: 0;
}
.freeBox__mfgdi > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__mfgdi > :global(.__wab_flex-container) > *,
.freeBox__mfgdi > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__mfgdi > :global(.__wab_flex-container) > picture > img,
.freeBox__mfgdi
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.text__hY1Ki {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  position: relative;
  left: auto;
  top: auto;
  color: #05050599 /* plasmic-token: SDy5_fRx1dMU */;
  height: auto;
}
.button___2IMdk:global(.__wab_instance) {
  position: relative;
}
.svg__dRo3 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__bwJP {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__xHNyW:global(.__wab_instance) {
  position: relative;
}
.svg__lq6P5 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__pMrlx {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__d2HmU:global(.__wab_instance) {
  position: relative;
}
.svg___5OCa {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__wrw3E {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.freeBox__d6TX {
  display: flex;
  position: relative;
  width: 100%;
  left: auto;
  top: auto;
  flex-direction: column;
  min-width: 0;
}
.freeBox__d6TX > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__d6TX > :global(.__wab_flex-container) > *,
.freeBox__d6TX > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__d6TX > :global(.__wab_flex-container) > picture > img,
.freeBox__d6TX
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.text__g4XDj {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  position: relative;
  left: auto;
  top: auto;
  color: #05050599 /* plasmic-token: SDy5_fRx1dMU */;
  height: auto;
}
.button___8H70T:global(.__wab_instance) {
  position: relative;
}
.svg__lpWR {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__tleDb {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__no5Rn:global(.__wab_instance) {
  position: relative;
}
.svg___8VIwJ {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg___0KVai {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button___1G6Sy:global(.__wab_instance) {
  position: relative;
}
.svg__nY8B8 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg___2VaGy {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__gmnQ3:global(.__wab_instance) {
  position: relative;
}
.svg__whTbm {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__pfdx {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
