.root {
  box-shadow: 0px 10px 10px 0px #00000026;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  max-width: 400px;
  background: #ffffff;
  position: relative;
  border-radius: 16px;
}
.root__primary {
  border: 4px solid #34c759 /* plasmic-token: _xIEyfjcOpbg */;
}
.root__borders_flatLeft {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}
.root__borders_flatRight {
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
}
.freeBox___3Tu06 {
  display: flex;
  position: relative;
  flex-direction: column;
  padding: 32px;
}
.freeBox___3Tu06 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox___3Tu06 > :global(.__wab_flex-container) > *,
.freeBox___3Tu06 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___3Tu06 > :global(.__wab_flex-container) > picture > img,
.freeBox___3Tu06
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__jYhKy {
  display: flex;
  flex-direction: row;
}
.freeBox__qSFbA {
  display: flex;
  position: relative;
}
.slotTargetLabel {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
}
.freeBox__m7BNi {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__m7BNi > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__m7BNi > :global(.__wab_flex-container) > *,
.freeBox__m7BNi > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__m7BNi > :global(.__wab_flex-container) > picture > img,
.freeBox__m7BNi
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.freeBox__us1P4 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.text__o4MhG {
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  color: #000000d9 /* plasmic-token: ZmO7P0Tppz8S */;
  width: auto;
  display: inline-block;
}
.freeBox__mom9T {
  display: inline-flex;
  position: relative;
  width: auto;
}
.slotTargetDollars {
  font-size: 48px;
  font-weight: 800;
  color: #000000d9 /* plasmic-token: ZmO7P0Tppz8S */;
  line-height: 1;
}
.text__eCIZ {
  line-height: 28px;
  color: #05050599 /* plasmic-token: SDy5_fRx1dMU */;
  padding-top: 2px;
  padding-bottom: 2px;
  font-size: 20px;
  height: auto;
}
.divider:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.freeBox___41Zhl {
  display: flex;
  position: relative;
  flex-direction: column;
  background: #f2f2f7;
  height: 100%;
  min-height: 0;
  padding: 32px;
}
.freeBox___41Zhl > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-height: 0;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox___41Zhl > :global(.__wab_flex-container) > *,
.freeBox___41Zhl > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___41Zhl > :global(.__wab_flex-container) > picture > img,
.freeBox___41Zhl
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.freeBox___3OR {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox___3OR > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox___3OR > :global(.__wab_flex-container) > *,
.freeBox___3OR > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___3OR > :global(.__wab_flex-container) > picture > img,
.freeBox___3OR
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.valueProp__rEr1A:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__nr8Os {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp___3TYsV:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__pckZl {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.svg__u4CYa {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__tYqYa {
  height: auto;
}
.svg__cfKf6 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
